.header {
    display: grid;
    grid-template-areas: "logo nav burger";
    background-color: lightslategrey;
    padding: 20px 50px;
    justify-content: space-between;
}

.logo {
    grid-area: logo;
}

.nav {
    display: grid;
    grid-area: nav;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-items: center;
    
    .nav-link {
        color: white;
        font-weight: bold;
        margin-left: 50px;
        transition: 0.5s;

        &:hover {
            color: black;
            transform: scale(1.1);
        }
    }

};

// mobile menu
.burger {
    display: none;
    grid-area: burger
}

@media (max-width: 700px) {
    .header {
        grid-template-columns: "logo burger nav nav";
    }

    .nav {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
        grid-row-gap: 20px;
    }

    .burger {
        display: inline;
    }
}