.header {
    display: flex;
    flex-wrap: wrap;
    background-color: lightslategrey;
    justify-content: space-between;
    min-height: 50px;
    align-items: center;
    padding: 0 50px;
}

.logo {
    color: white;
    font-weight: bold;
    order: 1;
}

.nav {
    order: 3;
    display: inline;
    .nav-link {
        color: white;
        font-weight: bold;
        transition: 0.5s;
        margin-left: 20px;
        &:hover {
            color: black;
            transform: scale(1.1);
        }
    }

};

.burger {
    display: none;
}

// mobile menu
@media (max-width: 700px) {
    .header {
        padding: 10px 25px;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        
        .logo {
            order: 1;
        }

        .nav {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;

            .nav-link {
                display: none;
                padding: 10px 0;
            }
        }

        .burger {
            display: flex;
            font-size: 25px;
            color: white;
            cursor: pointer;
        }
    }

}